

<!--<div class="container pt-4 pb-5">
  <div class="row">
    <div class="column" *ngFor="let user of companyUserItems">
      <div class="card">
        <img class="img-fluid" src="{{user.UserAvatar}}" alt="{{user.UserName}}" style="width:100%">

        <div class="card-body">-->
          <!--Company Name-->
          <!--<p><button class="button">{{user.CompanyName}}</button></p>-->

          <!--Text-->
          <!--<p class=" card-text text-center"><a href=".">{{user.CompanyMissionStatement}}</a></p>
        </div>

      </div>
    </div>
  </div>
</div>-->

<div class="container pt-4 pb-5">
  <div class="row">
    <div class="column" *ngFor="let user of companyUserItems" width="10%">

      <!--Card-->
      <div class="card" style="width: 10%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

        <!--Card image-->
        <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
          <img src="{{user.Avatar}}" alt="{{user.UserName}}" style="width: 100%" class="card-img-top">
          <p class="text-center"><button class="button" style="width: 100%">{{user.CompanyName}}</button></p>
        </div>
        <!--/.Card image-->
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <p class="text-center" style="width: 100%"><a href=".">{{user.CompanyMissionStatement}}</a></p>

        </div>
        <!--/.Card content-->

      </div>
      <!--/.Card-->

    </div>
  </div>
</div>

