<nav class="navbar">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
        <button class="btn btn-secondary dropdown-toggle" type="button" id="roomDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{selectedRoom}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let room of rooms"><a (click)="roomSelected(room)">{{room.RoomName}}</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
        <button class="btn btn-secondary dropdown-toggle" type="button" id="factionsDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{selectedFaction}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let faction of factions"><a (click)="factionSelected(faction)">{{faction.FactionName}}</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
        <button class="btn btn-secondary dropdown-toggle" type="button" id="usersDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{selectedUser}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let user of users"><a (click)="userSelected(user)">{{user.UserName}}</a></li>
        </ul>
      </li>
      </ul>
</div>
</nav>

<table>
  <tr *ngFor="let user of users">
    <td>

    </td>
  </tr>
</table>

  <!--<br />
  <tree-root [nodes]="nodes"></tree-root>-->
